

#screen {
  height: 300px;
  width: 50vw;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

#screens {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:45px;
}

#scroll-container {
overflow-y: scroll;
min-width: 200px;
height: 100%;
margin-top: 50px;
}

#right {
  display: block;
  flex: 60vw;
}

#left {
  flex: 40vw;
}

#buttons {
  display: inline-block;
}

#paragraph-text {
  width: 35vw;
  height: 25vh;
}

.hidden {
  display: none;
}


